# Copyright (c) 2025 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

configdefault NET_SHELL
	default n

configdefault MBEDTLS_USE_PSA_CRYPTO
	default n

configdefault MBEDTLS_HEAP_SIZE
	default 16384

configdefault BT_CTLR_DATA_LENGTH_MAX
	default 251

source "${ZEPHYR_GOLIOTH_FIRMWARE_SDK_MODULE_DIR}/examples/zephyr/common/Kconfig.defconfig"

source "Kconfig.zephyr"
